body {
    font-family: 'Staatliches', cursive;
    color: rgb(124, 124, 203);
    background-image: url(https://images.unsplash.com/photo-1555601402-94a43ea6515c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    min-height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 45px;
}

button {
    border-radius: 20px;
}